<a href="https://colab.research.google.com/github/20DianaRivero01/datapreprocessing/blob/master/Weather_diana_rivero.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Weather data cleaning

Diana Rivero - Data 3B

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
weather01 = pd.read_csv('weather01.txt', sep = '\s+', na_values = '<NA>')
weather01.head()

   X  year  month            measure  X1  X2
1  1  2014     12   Max.TemperatureF  64  42
2  2  2014     12  Mean.TemperatureF  52  38
3  3  2014     12   Min.TemperatureF  39  33
4  4  2014     12     Max.Dew.PointF  46  40
5  5  2014     12     MeanDew.PointF  40  27

In [3]:
weather02 = pd.read_csv('weather02.txt', sep = '\s+', na_values = '<NA>')
weather02.head()

   X3  X4  X5  X6  X7
1  51  43  42  45  38
2  44  37  34  42  30
3  37  30  26  38  21
4  49  24  37  45  36
5  42  21  25  40  20

In [4]:
weather03 = pd.read_csv('weather03.txt', sep = '\s+', na_values = '<NA>')
weather03.head()

   X8  X9 X10 X11 X12 X13 X14
1  29  49  48  39  39  42  45
2  24  39  43  36  35  37  39
3  18  29  38  32  31  32  33
4  28  49  45  37  28  28  29
5  16  41  39  31  27  26  27

In [5]:
weather04 = pd.read_csv('weather04.txt', sep = '\s+', na_values = '<NA>')
weather04.head()

  X15 X16 X17 X18 X19 X20
1  42  44  49  44  37  36
2  37  40  45  40  33  32
3  32  35  41  36  29  27
4  33  42  46  34  25  30
5  29  36  41  30  22  24

In [6]:
weather05 = pd.read_csv('weather05.txt', sep = '\s+', na_values = '<NA>')
weather05.head()

  X21 X22 X23 X24 X25 X26   X27
1  36  44  47  46  59  50  52.0
2  33  39  45  44  52  44  45.0
3  30  33  42  41  44  37  38.0
4  30  39  45  46  58  31  34.0
5  27  34  42  44  43  29  31.0

In [7]:
weather06 = pd.read_csv('weather06.txt', sep = '\s+', na_values = '<NA>')
weather06.head()

  X28 X29 X30   X31
1  52  41  30  30.0
2  46  36  26  25.0
3  40  30  22  20.0
4  42  26  10   8.0
5  35  20   4   5.0

In [8]:
#getting the full dataset that are year, month, measure and X + a number is the day 
weather = pd.concat([weather01, weather02, weather03,weather04, weather05, weather06], axis = 1)

In [9]:
#getting the events
events = []
for i in weather.columns.tolist()[3:]:
    events.extend(weather[i].loc[weather.measure == 'Events'].unique())

In [10]:
#getting uniques values
events = list(set(events))
#eliminating NaN
events = [x for x in events if type(x) == str]

In [11]:
events

['Fog-Snow',
 'Rain-Thunderstorm',
 'Events',
 'Fog-Rain-Thunderstorm',
 'Fog',
 'Fog-Rain-Hail-Thunderstorm',
 'Fog-Rain-Snow',
 'Rain-Snow',
 'Fog-Rain',
 'Rain',
 'Snow',
 'Thunderstorm']

In [12]:
#getting the index that does have events
listaevents = weather.loc[weather.measure == 'Events'].index.tolist()
events.index('Rain')

9

In [13]:
#checking the operation was right
weather.loc[weather.measure == 'Events']

       X  year  month measure  ...            X28        X29   X30 X31
21    21  2014     12  Events  ...           Rain        NaN   NaN NaN
43    43  2015      1  Events  ...           Snow       Snow  Snow NaN
65    65  2015      2  Events  ...            NaN        NaN   NaN NaN
87    87  2015      3  Events  ...  Fog-Rain-Snow  Rain-Snow   NaN NaN
109  109  2015      4  Events  ...           Rain        NaN   NaN NaN
131  131  2015      5  Events  ...           Rain        Fog  Rain NaN
153  153  2015      6  Events  ...           Rain        NaN   NaN NaN
175  175  2015      7  Events  ...           Rain        NaN   NaN NaN
197  197  2015      8  Events  ...            NaN        NaN   NaN NaN
219  219  2015      9  Events  ...       Fog-Rain   Fog-Rain   NaN NaN
241  241  2015     10  Events  ...           Rain       Rain   NaN NaN
263  263  2015     11  Events  ...           Rain        NaN   NaN NaN
285  285  2015     12  Events  ...            NaN        NaN   NaN NaN

[13 rows x 35 columns]

In [14]:
#by doing this for we can transform the string into numbers
#itering over the index needed
#the for does not consume a lot of memory because the iterations are just a few
for i in listaevents:
    #iteraing over the columns of days
    for x in weather.columns.tolist()[3:]:
        #using try because if it is NaN will give an error
        try:
            weather.loc[i,x] = (events.index(weather.loc[i,x]))
        except:
            continue

#checking the operation was right
weather.loc[weather.measure == 'Events']

Empty DataFrame
Columns: [X, year, month, measure, X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14, X15, X16, X17, X18, X19, X20, X21, X22, X23, X24, X25, X26, X27, X28, X29, X30, X31]
Index: []

In [15]:
weather.head()

   X  year  month            measure  X1  X2  ... X26   X27 X28 X29 X30   X31
1  1  2014     12   Max.TemperatureF  64  42  ...  50  52.0  52  41  30  30.0
2  2  2014     12  Mean.TemperatureF  52  38  ...  44  45.0  46  36  26  25.0
3  3  2014     12   Min.TemperatureF  39  33  ...  37  38.0  40  30  22  20.0
4  4  2014     12     Max.Dew.PointF  46  40  ...  31  34.0  42  26  10   8.0
5  5  2014     12     MeanDew.PointF  40  27  ...  29  31.0  35  20   4   5.0

[5 rows x 35 columns]

In [16]:
weather.isna().sum()
weather.measure.nunique()
weather.measure.unique()
weather.head(22)

     X  year  month                    measure  ...    X28    X29    X30     X31
1    1  2014     12           Max.TemperatureF  ...     52     41     30   30.00
2    2  2014     12          Mean.TemperatureF  ...     46     36     26   25.00
3    3  2014     12           Min.TemperatureF  ...     40     30     22   20.00
4    4  2014     12             Max.Dew.PointF  ...     42     26     10    8.00
5    5  2014     12             MeanDew.PointF  ...     35     20      4    5.00
6    6  2014     12              Min.DewpointF  ...     27     10     -6    1.00
7    7  2014     12               Max.Humidity  ...     76     64     50   57.00
8    8  2014     12              Mean.Humidity  ...     65     51     38   44.00
9    9  2014     12               Min.Humidity  ...     53     37     26   31.00
10  10  2014     12   Max.Sea.Level.PressureIn  ...  29.99  30.22  30.36   30.32
11  11  2014     12  Mean.Sea.Level.PressureIn  ...  29.87  30.12  30.32   30.25
12  12  2014     12   Min.Sea.Level.PressureIn  ...  29.77     30  30.23   30.13
13  13  2014     12        Max.VisibilityMiles  ...     10     10     10   10.00
14  14  2014     12       Mean.VisibilityMiles  ...     10     10     10   10.00
15  15  2014     12        Min.VisibilityMiles  ...     10     10     10   10.00
16  16  2014     12          Max.Wind.SpeedMPH  ...     22     15     16   17.00
17  17  2014     12         Mean.Wind.SpeedMPH  ...     14      9     10    9.00
18  18  2014     12          Max.Gust.SpeedMPH  ...     31     22     21   22.00
19  19  2014     12            PrecipitationIn  ...   0.01   0.00   0.00    0.00
20  20  2014     12                 CloudCover  ...      8      4      2    1.00
21  21  2014     12                          2  ...      9    NaN    NaN     NaN
22  22  2014     12             WindDirDegrees  ...    252    288    313  269.00

[22 rows x 35 columns]

In [17]:
#changing the T into 0
for x in weather.columns[3:]:
    weather[x].loc[weather[x] == 'T'] = 0
    weather[x] = weather[x].astype(float)
    
weather.loc[weather.X1 == 0]
#pivoting
weather_pivot = pd.pivot_table(weather,  index = ['year','month'],columns = 'measure', values = weather.columns[3:].tolist(), dropna = False)
weather_pivot

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

ValueError: ignored

In [ ]:
#creating a new object for the final table
weather_final = pd.DataFrame()
#giving to the dataframe the first day of the columns
weather_final = weather_pivot[weather_pivot.columns.tolist()[0:24]].copy()
weather_final = weather_final.droplevel(0, axis = 1)
weather_final.head()

In [ ]:
#useful columns
columnas = ['year','month']
columnas
#adding the columns we will use for renaming
columnas.extend(weather_final.columns.tolist()[2:])
#renaming columns
weather_final.columns = columnas
#giving the first day because in the multi index was X1
weather_final['Day'] = 1
weather_final